/* styles.css */
a {
    color:rgb(246, 248, 249);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: url(https://images.unsplash.com/photo-1545608444-f045a6db6133?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
    background-size: auto;
    background-color: rgb(255, 255, 255); 
    text-align: center;
    font-family: cursive;
    font-size: medium;
    overflow-y: scroll;
}

.box {
    width: 200px;
    height: 100px;
    border: 1px solid rgb(228, 217, 217);
    padding: 10px;
    margin: 10px;
}

.button-edit{
    background-color: #b02828;
    color: rgb(247, 243, 243);
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-edit:hover {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #19811d; 
    color: white; 
    border-radius: 5px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-container{
    position: relative;
    align-items: center ;
    top: 10px;
    
}

button {
    background-color: #b02828;
    color: rgb(247, 243, 243);
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
    background-color: #19811d; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-participant {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #19811d; 
    color: white; 
    border-radius: 5px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-participant:hover {
    background-color: #b02828;
}

.button-link:hover {
    background-color: #19811d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-reveal {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #19811d;
    border-radius: 5px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-reveal:hover{
    background-color: #b02828;
    
}


.countdown-section {
    position: absolute;
    top: 40px;
    font-size: 30px;
    right: 70px;
    align-items: center;
    color: #b02828;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom_label {
    color: #ffffff;
}
.homeButton {
    position: absolute;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 10px; 
    left: 10px; 
    padding: 3px 10px; 
    background-color: #ffffff;
    color: #000000; 
    text-decoration: none; 
}

head {
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}

ul {
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center, left;
}

h1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f4f7f4;
    
}


h2 {
    color: #ffffff;
    font-family: cursive;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    
}

h3 {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.home-bottom {
    font-family: 'Times New Roman', Times, serif;
}

.reveal_text {
    color: rgb(249, 249, 249);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background-container {
    padding: 5px; 
    width: 30%;
    margin: 0 640px;

    text-align: left;
}

.assignment_list strong{
    color: rgb(215, 53, 53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-style: italic;
    text-align: center;
}

.assignment_list ul {
    display: inline-block;
    text-align: left !important;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 30px;
    height: auto;
    border: #ffffff;
    border-style: solid;
}

.guessing_page {
    color: rgb(247, 243, 243);
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.timer {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-transform: uppercase;
}

.steps-home {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center !important;
    font-size: large;
    margin: 0 auto;
    
}

.santa {
    position:fixed;
    top: 230px;
    left: 110px;
    transition: left 5s linear; 
    border: none;
    width: 20%;
    height: auto;
}

.grinch {
    position: fixed;
    top: 210px;
    right: 190px;
    transition: left 5s linear; 
    border: none;
    width: 20%;
    height: auto;
    transform: rotate(12deg);
}

.welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    font-style: italic;
}


.participant-list{
    list-style: none;
    padding: 0;
    margin: 0 775px;
    display: inline-block;
    
}

.participant-list li {
    text-align: left;
    margin-bottom: 1.5px;
    
}