<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grinch Chasing Santa</title>
    <style>
        /* CSS for positioning the images */
        #grinch, #santa {
            position: absolute;
            top: 100px;
            left: 0;
            transition: left 5s linear; /* Animation duration */
        }
    </style>
</head>
<body>
    <img src="https://www.google.com/search?sca_esv=591697910&sxsrf=AM9HkKkxC7rwMZBuFA_PPVbN0suzwj2Atw:1702837408825&q=grinch+running+gif&tbm=isch&source=lnms&sa=X&ved=2ahUKEwj90vPWi5eDAxUKjIkEHfOwBsMQ0pQJegQIERAB&biw=1536&bih=726&dpr=1.25#imgrc=VwZCNPl5-SEUaM" alt="Grinch" id="grinch">
    <img src="https://www.artstation.com/artwork/xzVq6O" alt="Santa" id="santa">
    <script src="chase.js"></script> <!-- Your JavaScript file -->
</body>
</html>
